<div class="page-wrapper" id="dashboard_wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/profile">
          <img
            src="../../assets/img/task-box.png"
            style="height: 50px"
            alt=""
          />
          <h5>Profile</h5>
        </a>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/employees/all-employees">
        <img src="../../assets/img/employees.png" alt="" style="height: 50px" />
        <h5>Employees</h5>
      </a>
      </div>
      
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/employees/attendance">
        <img
          src="../../assets/img/attendance.png"
          alt=""
          style="height: 50px"
        />
        <h5>Attendance</h5>
      </a>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <img src="../../assets/img/leave.png" alt="" style="height: 50px" />
        <h5>Leave</h5>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <img
          src="../../assets/img/hr-documents.jpg"
          style="height: 50px"
          alt=""
        />
        <h5>HR Documents</h5>
      </div>
  
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/jobs/managed-jobs">
        <img
          src="../../assets/img/recruitment-icon.jpg"
          style="height: 50px"
          alt=""
        />
        <h5>Recruitment</h5>
      </a>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/events">
        <img src="../../assets/img/calender.webp" alt="" style="height: 50px" />
        <h5>Calender</h5>
      </a>
      </div>
      
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <img src="../../assets/img/help-desk.png" alt="" style="height: 50px" />
        <h5>Help Desk</h5>
      </div>
      
    </div>
  </div>
</div>
